# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
ncf_env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints


# VS Code settings
.vscode/

# mac system files
.DS_Store

# Log files
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/


# dataset - too large to track
AI_NCF_Recommender/data/
